*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


.banner{
    width: 1600px;
    height: 817px;
    background: url(images/banner/banner1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#heading{
    width: 525px;
    padding: 215px 230px 176px 845px;
    text-align: right;
}
#heading h1{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    padding-bottom: 24px;
}
#heading p{
    line-height: 26px;
    color: #444343;
    padding-bottom: 32px;
}
#heading #headbtn{
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding-right: 0px;
    font-size: 20px;
    font-weight: 600px;
    cursor: pointer;
}

#failures{
    margin: auto;
    
}
#failures .container{
    width: 1072px;
    margin: auto;
    padding: 130px 322px 130px 206px;
}

#failures .wraper{
    display: flex;
    align-items: center;
    gap: 87px;
    
}
.fail-content{
    padding-top: 15%;
}
.fail-content h1{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    padding-bottom: 24px;
}

.fail-content p{
    line-height: 26px;
    color: #444343;
    padding-bottom: 16px;
}

.fail-content ul{
    list-style: none;
}
  .fail-content ul li{
    padding-bottom: 8px;
  }
.fail-content ul li i{
    color: green;
    margin-right: 10px;
}

.plans{
    margin: auto;
}
.plans .plans-container{
    width: 1141px;
    margin: auto;
    text-align: center;
}
.plans .plans-container h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    padding-bottom: 50px;
}

.plans-container .plans-box{
display: flex;
justify-content: space-between;

}
.plans-box .plan h4{
 font-size: 30px;
 font-weight: bold;
 color: #151414;
 padding: 24px 0 16px 0 ;
}
.plans-box .plan p{
    font-size: 25px;
    color: #737272;
}


#hand-sec .hand-div{
    width: 1140px;
    height: 300px;
    margin: auto;
    background: url(images/watch.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 124px;
}

.overlay{
    width: 100%;
    height: 100%;
    background: url(images/gradient2.png);
    opacity: 0.9;
    background-size: cover;
    background-position: center;
}
.container{
    width: 459px;
    padding: 59px 217px 59px 64px;
}
.container h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

.container .cbtn{
    width: 160px;
    height: 64px;
    background-color: #ffffff;
    color: #F15B22;
    border: none;
    border-radius: 5px;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600px;
    cursor: pointer;
}

footer{
    background-color: #151414;
    width: 100%;
    margin-top: 130px;

}

footer .foot-container{
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
    gap: 330px;
}

.future-heading h2{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 16px;
}
.future-heading p{
    color:#f8f8f8d2;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 16px;
}
footer .social{
    display: flex;
    gap: 15px;
}

.subscribe h3{
color: #ffffff;
font-size: 25px;
font-weight: 600px;
padding-bottom: 30px;
}

.subscribe input{
    width: 325px;
    color: #F3F3F3;
    padding: 20px;
    border-color: #F3F3F3;
    border-radius: 8px;
    background-color: #151414;
    font-size: 18px;
}

.subscribe .sub-btn{
    color: #F15B22;
    background-color: #ffffff;
    padding: 20px 36px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}